@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* media query for small device */
@media screen and (max-width: 640px) {
  html {
    font-size: 3.5vw;
  }
}
