@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* banner logo */
#banner-logo {
  background: linear-gradient(to right, #797dfc, #ffffff0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* media query for small device */
@media screen and (max-width: 640px) {
  html {
    font-size: 3.5vw;
  }
}
